In [ ]:
!pip install nsepy

In [67]:
import pandas as pd  #Libraries we used
import numpy as np
from nsepy import get_history
from datetime import date

In [54]:
nf50_url = 'https://www1.nseindia.com/content/indices/ind_nifty50list.csv' # Import from NSE Nifty50 list Site

df_nf50 = pd.read_csv(nf50_url)

In [55]:
Compy = df_nf50['Symbol']

In [56]:
Symbol_li = []

for i in np.array(Compy):
  Symbol_li.append(i)

In [ ]:
Symbol_li

In [48]:
get_history(symbol='SBIN',
                   start=date(2018,12,14),
                   end=date(2022,12,13)).shape

WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com

(992, 14)

In [ ]:
nifty50=pd.DataFrame()
for i in Symbol_li:
   new = get_history(symbol=i,
                   start=date(2018,12,14),
                   end=date(2022,12,13))
   nifty50 = nifty50.append(new)

In [59]:
nifty50 = nifty50.reset_index()

In [61]:
nifty50.shape

(49550, 15)

In [62]:
nifty50['Date'] = pd.to_datetime(nifty50['Date'])

In [65]:
nifty50.to_csv('/content/drive/MyDrive/Masai Assign/DA - Projects/DA Project 3/nifty50.csv') # Export to CSV

In [63]:
nifty50.dtypes

Date                  datetime64[ns]
Symbol                        object
Series                        object
Prev Close                   float64
Open                         float64
High                         float64
Low                          float64
Last                         float64
Close                        float64
VWAP                         float64
Volume                         int64
Turnover                     float64
Trades                         int64
Deliverable Volume             int64
%Deliverble                  float64
dtype: object

In [66]:
nifty50.corr()

,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Prev Close,1.000000,0.999379,0.999278,0.999273,0.999159,0.999163,0.999280,-0.257041,-0.041454,-0.196339,-0.261703,-0.021233
Open,0.999379,1.000000,0.999851,0.999879,0.999750,0.999753,0.999869,-0.257224,-0.041859,-0.197246,-0.261934,-0.021447
High,0.999278,0.999851,1.000000,0.999805,0.999885,0.999890,0.999941,-0.256672,-0.039765,-0.195447,-0.261635,-0.023468
Low,0.999273,0.999879,0.999805,1.000000,0.999879,0.999884,0.999939,-0.257568,-0.042903,-0.198640,-0.262196,-0.020559
Last,0.999159,0.999750,0.999885,0.999879,1.000000,0.999995,0.999957,-0.257075,-0.040993,-0.196889,-0.261916,-0.022313
Close,0.999163,0.999753,0.999890,0.999884,0.999995,1.000000,0.999963,-0.257051,-0.041001,-0.196917,-0.261895,-0.022324
VWAP,0.999280,0.999869,0.999941,0.999939,0.999957,0.999963,1.000000,-0.257130,-0.041167,-0.196986,-0.261969,-0.022304
Volume,-0.257041,-0.257224,-0.256672,-0.257568,-0.257075,-0.257051,-0.257130,1.000000,0.545926,0.671958,0.802772,-0.181591
Turnover,-0.041454,-0.041859,-0.039765,-0.042903,-0.040993,-0.041001,-0.041167,0.545926,1.000000,0.849995,0.491251,-0.095899
Trades,-0.196339,-0.197246,-0.195447,-0.198640,-0.196889,-0.196917,-0.196986,0.671958,0.849995,1.000000,0.551367,-0.084330
Deliverable Volume,-0.261703,-0.261934,-0.261635,-0.262196,-0.261916,-0.261895,-0.261969,0.802772,0.491251,0.551367,1.000000,0.123721
%Deliverble,-0.021233,-0.021447,-0.023468,-0.020559,-0.022313,-0.022324,-0.022304,-0.181591,-0.095899,-0.084330,0.123721,1.000000